body {
    background-color: #888888;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-image: url("../images/space.jpg");
    color: white;
}

.underlay {position: absolute; width: 100vw; height: 100vh; z-index: 3}

a {color: yellow; text-decoration: none}
a:visited {color: darkgoldenrod; text-decoration: none}

.main_page_body {
    max-width: 850px;
    display: grid;
    grid-template-rows: 270px auto auto 50px;
    grid-template-columns: 1fr 155px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
            "header header"
            "about banners"
            "watsnew banners"
            "footer footer";
}


header {
    grid-area: header;
    display: grid;
    grid-template-columns: 210px 105px 40px 1fr 45px;
    grid-template-rows: 105px 105px 50px;
    grid-row-gap: 5px;
    grid-template-areas:
            "nav1 nav1 . head1 head1"
            "nav1 nav1 . head2 head2"
            "nav1 nav1 head3 head3 .";
    text-align: center;
    position: relative;
    background-image: url("../images/Zlogo.png");
    background-size: 220px;
    background-position: top left;
    background-repeat: no-repeat;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

nav {
    width: 320px;
    grid-area: nav1;
    display: grid;
    grid-template-areas:
            ". . navplace1 navplace1 ."
            ". . . navplace2 navplace2"
            ". . . navplace3 navplace3"
            ". . navplace4 navplace4 ."
            "navplace6 navplace5 navplace5 . .";
    grid-template-rows: repeat(5, 50px);
    grid-template-columns: 100px repeat(4, 50px);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.button {
    position: relative;
    width: 100px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    line-height: 45px
}

.button__small{
    width: 50px;
}

.button:after {
    content: "";
    display: block;
    position: absolute;
    top: -15px;
    left: 10px;
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.3);
    transform: rotate(45deg);
    overflow: visible;
    margin: 0;
}
.button:after:after {display: block; width: 80px;
    height: 80px; background-image: url("../images/redButton.png")}

.button__small:after {
    position: absolute;
    top: -15px;
    left: 10px;
    width: 80px;
    height: 80px;
}

.navplace1 {
    grid-area:  navplace1
}

.navplace2 {
    grid-area: navplace2
}

.navplace3 {
    grid-area: navplace3
}

.navplace4 {
    grid-area: navplace4
}

.navplace5 {
    grid-area: navplace5
}

.navplace6 {
    grid-area: navplace6
}

header > :nth-child(n+2) {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 7%;
}

header > :nth-child(2) {
    transition: transform 1s;
    transform: skew(45deg);
    transform-origin: bottom;
    grid-area: head1
}

header > div:nth-child(3) {
    transition: transform 1s;
    transform: skew(-45deg);
    transform-origin: top;
    grid-area: head2
}

header > div:nth-child(4) {
    transition: transform 1s;
    transition-timing-function: cubic-bezier(0.6, 0.1, 0.15, 0.8);
    transform: skew(-45deg) translateX(-65px);
    transform-origin: top;
    grid-area: head3
}

h1 {
    transform: skew(-45deg);
}

header > div:nth-child(n+3) p {
    transform: skew(45deg);
    margin: 0;
}

section {
    background-color: rgba(255, 255, 255, 0.3);
}

.about {
    grid-area: about;
    transition: width 1s;
    transition-timing-function: cubic-bezier(0.6, 0.1, 0.15, 0.8);
}

.watsNew {
    grid-area: watsnew;
    transition: width 1s;
    transition-timing-function: cubic-bezier(0.6, 0.1, 0.15, 0.8);
}

.banners {background-color: rgba(255, 255, 255, 0.3); grid-area: banners; transform-origin: left; transform: skew(0, -45deg); display: flex; justify-content: space-around; flex-direction: column;}
.banners>* {transform-origin:left; transform: skew(0, 45deg); flex-basis: 100px; flex-grow: 1;}

@media all and (max-width:580px) {
    header {
        grid-template-areas:
                ". head1 head1 head1 head1"
                "nav1 nav1 head2 head2 head2"
                "nav1 nav1 head3 head3 head3";
    }
    nav {
        grid-template-areas:
                ". . navplace1"
                ". . navplace2"
                "navplace5 navplace4 navplace3";
        grid-template-rows: repeat(3, 50px);
        grid-template-columns: repeat(3, 100px);
    }
    header > div:nth-child(n+3) {
        transform: skew(0deg);
    }
    header > div:nth-child(n+3) p {
        transform: skew(0deg);
    }
    .main_page_body {
        grid-template-areas:
                "header header"
                "about about"
                "watsnew watsnew"
                "footer footer";
    }
    .banners {display: none}
}

@media all and (max-width:450px) {
    header {
        grid-template-areas:
                "head1"
                "nav1";
        grid-template-columns: 1fr;
        grid-template-rows: 105px 105px;
        background-size: 150px;
        background-position: top 87px left;
    }
    nav {
        justify-self: end;
    }
    header > div:nth-child(n+3) {
        display: none;
    }
}

.game_page_body {
    max-width: 1200px;
    display: grid;
    grid-template-rows: 105px 160px minmax(calc(325px),630px) 155px 50px;
    grid-template-columns: 190px minmax(325px,1150px) 155px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
            "header header header"
            ". top_toolbox ."
            "left_toolbox gamefield right_toolbox"
            ". bottom_toolbox ."
            "footer footer footer";
}
.tool_box {background-color: rgba(255, 255, 255, 0.3)}
.tool_box__top {grid-area: top_toolbox; transform-origin: bottom; transform: skew(-45deg);}
.tool_box__left {grid-area: left_toolbox; transform-origin: right; transform: skew(0, -45deg);}
.tool_box__right {grid-area: right_toolbox; transform-origin: left; transform: skew(0, -45deg);}
.tool_box__bottom {grid-area: bottom_toolbox; transform-origin: top; transform: skew(-45deg);}
.game_field {grid-area: gamefield; background-color: rgba(115, 162, 239, 0.3); position: relative;}

.tool_bar__top {
    transform:skew(45deg) rotate(-90deg);
}

.tool_bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.joint {
    height: 30px;
    width: 30px;
    background-color: blueviolet;
    position: absolute;
}
.joint__sample{
    position: static;
}
.bone {background-color: #888888; width: 30px; height: 10px; transform-origin: top left; position: absolute;}

.gratitues_page_body {
    max-width: 850px;
    display: grid;
    grid-template-rows: 215px minmax(calc(100vh - 300px), auto) 50px;
    grid-template-columns: 245px minmax(325px,1130px);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
            "header header"
            "links preview"
            "footer footer";
}

.links_field {background-color: rgba(255, 255, 255, 0.3); grid-area:links; transform: skew(0,-45deg); transform-origin: right;}
.links_field div {transform: skew(0,45deg); transform-origin: left;}
.preview_field_wrap {background-color: rgba(255, 255, 255, 0.3); grid-area:preview;}
.preview_field_wrap iframe {height: 100%; width: 100%}

.templates_page_body {
    max-width: 1200px;
    display: grid;
    grid-template-rows: 270px 300px 300px 50px;
    grid-row-gap: 5px;
    grid-template-areas:
            "header"
            "bodys"
            "legs"
            "footer";
}

.body_templater {
    grid-area: bodys;
    background-color: rgba(255, 255, 255, 0.3);
    transform: skew(-25deg);
    transform-origin: top;
}

.legs_templater {
    grid-area: legs;
    background-color: rgba(255, 255, 255, 0.3);
    transform: skew(25deg);
    transform-origin: top;
}

.leaderboard_page_body {
    max-width: 850px;
    display: grid;
    grid-template-rows: 105px 200px auto 50px;
    grid-template-columns: 250px minmax(325px,1130px) 20px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
            "header header ."
            ". detailed ."
            ". table ."
            "footer footer footer";
}

.detailed_screen{
    background-color: rgba(255, 255, 255, 0.3);
    grid-area: detailed;
    transform: skew(-45deg);
}

.score_table{
    background-color: rgba(255, 255, 255, 0.3);
    grid-area: table;
}