body {background-color: #888888; margin: 0;
    display: flex; justify-content: space-between;}
.main_body {max-width: 850px; color: aqua; display: grid; grid-template-rows: 270px 450px 1fr 50px; grid-template-columns: 1fr 180px; grid-row-gap: 10px}
.main_body>img {position: absolute;}
header {grid-column-start: 1; grid-column-end: 3; display: grid; grid-template-columns: 325px 30px 1fr 30px 20px; grid-template-rows: 105px 105px 50px; grid-row-gap: 5px;
    grid-template-areas:
            "nav1 . head1 head1 ."
            "nav1 . head2 head2 ."
            "nav1 head3 head3 . .";
    text-align: center; position: relative;}
nav {grid-area: nav1;
    display: grid;
    grid-template-areas:
            ". . . ab ab ."
            ". . . . Game Game"
            ". . . . Templates Templates"
            ". . . Leader_table Leader_table ."
            "Other_projects Other_projects Thanks_to Thanks_to . .";
    grid-template-rows: repeat(5, 50px);
    grid-template-columns: repeat(6, 50px);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    background-image: url("../images/Zlogo.png"); background-size: 70%; background-position: top left; background-repeat: no-repeat;}
.button {width: 100px; height: 50px; overflow: hidden;}
.octocorner {
    position: relative;
    top: -31px;
    left: 10px;
    width: 80px;
    height: 80px;
    background-color: rgba(255,255,255,0.3);
    transform: rotate(45deg);
    overflow: visible;
    margin: 0;
}
.octocorner p {transform: rotate(-45deg); position: relative; top: 33px;}

.About {grid-area: ab}
.Game {grid-area: Game}
.Templates {grid-area: Templates}
.Leader_table {grid-area: Leader_table}
.Other_projects {grid-area: Other_projects}
.Thanks_to {grid-area: Thanks_to}
header>div:nth-child(n+2) {background-color: rgba(255,255,255,0.3);}
header>div:nth-child(2) {transform: skew(45deg); transform-origin: bottom; grid-area: head1}
header>div:nth-child(3) {transform: skew(-45deg); transform-origin: top; grid-area: head2}
header>div:nth-child(4) {transform: skew(-45deg) translateX(-80px); transform-origin: top; grid-area: head3}
h1 {transform: skew(-45deg);}
header>div:nth-child(n+3) p {transform: skew(45deg);}
section {background-color: rgba(255,255,255,0.3);}

.about {grid-column-start: 1; grid-column-end: 2;}
.watsNew {grid-column-start: 1; grid-column-end: 2;}